body{
    background-color: black;
  
}

.center{
    color: white;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}
.image{
    border: 5px solid white;
   width: 100%;
}